<!DOCTYPE html>
<html lang="en">
  <%- include('../common/head.ejs') %>
  <body>
    <%- include('../common/navbar.ejs') %>

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 entries">
            <!-- Loop through each blog post -->
            <% blog.posts.forEach(post => { %>
            <article class="entry" data-aos="fade-up">
              <div class="entry-img">
                <img
                  src="<%= post.img %>"
                  alt="<%= post.title %>"
                  class="img-fluid"
                />
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html"><%= post.title %></a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center">
                    <i class="icofont-user"></i>
                    <a href="blog-single.html"><%= post.author %></a>
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="icofont-wall-clock"></i>
                    <a href="blog-single.html">
                      <time datetime="<%= post.date %>"
                        ><%= new Date(post.date).toLocaleDateString() %></time
                      >
                    </a>
                  </li>
                  <li class="d-flex align-items-center">
                    <i class="icofont-comment"></i>
                    <a href="blog-single.html">0 Comments</a>
                    <!-- Placeholder for comments -->
                  </li>
                </ul>
              </div>

              <div class="entry-content">
                <p><%= post.content.substring(0, 150) %>...</p>
                <div class="read-more">
                  <a href="blog-single.html">Read More</a>
                </div>
              </div>
            </article>
            <!-- End blog entry -->
            <% }); %>

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li class="disabled"><i class="icofont-rounded-left"></i></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#"><i class="icofont-rounded-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End blog entries list -->

          <div class="col-lg-4">
            <div class="sidebar" data-aos="fade-left">
              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text" placeholder="Search..." />
                  <button type="submit"><i class="icofont-search"></i></button>
                </form>
              </div>
              <!-- End sidebar search form -->

              <h3 class="sidebar-title">Categories</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li>
                    <a href="#">General <span>(25)</span></a>
                  </li>
                  <li>
                    <a href="#">Lifestyle <span>(12)</span></a>
                  </li>
                  <li>
                    <a href="#">Travel <span>(5)</span></a>
                  </li>
                  <li>
                    <a href="#">Design <span>(22)</span></a>
                  </li>
                  <li>
                    <a href="#">Creative <span>(8)</span></a>
                  </li>
                  <li>
                    <a href="#">Education <span>(14)</span></a>
                  </li>
                </ul>
              </div>
              <!-- End sidebar categories -->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                <!-- Placeholder for recent posts -->
                <div class="post-item clearfix">
                  <img src="assets/img/blog-recent-posts-1.jpg" alt="" />
                  <h4>
                    <a href="blog-single.html"
                      >Nihil blanditiis at in nihil autem</a
                    >
                  </h4>
                  <time datetime="2020-01-01">Jan 1, 2020</time>
                </div>
                <!-- Add more recent post items as necessary -->
              </div>
              <!-- End sidebar recent posts -->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>
                  <li><a href="#">IT</a></li>
                  <li><a href="#">Business</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div>
              <!-- End sidebar tags -->
            </div>
            <!-- End sidebar -->
          </div>
          <!-- End blog sidebar -->
        </div>
      </div>
    </section>
    <!-- End Blog Section -->

    <%- include('../common/footer.ejs') %>
  </body>
</html>
